@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700&family=Playfair+Display:ital,wght@1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-[#F0F4FF] text-[#141414] selection:bg-[#141414] selection:text-white;
  }
}

/* Custom scrollbar for a technical feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E4E3E0;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
